<table class="table" *ngIf="items.length > 0">
    <thead>
        <tr>
            <th colspan="3" class="title-table">{{title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">URL</th>
        </tr>
        <tr *ngFor="let item of items">
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>
                <a [href]="item.html_url" target="_blank" r>
                    <i class="bi bi-box-arrow-up-right"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>